:root{
    --primary-color: #e67e22;
    /* Dùng cho nền */
    --primary-tint-color:#fdf2e9;
    --secondary-tint-color: #fae5d3;
    --tertiary-tint-color: #eb984e;
    /* Dùng cho hover */
    --primary-shades: #cf711f;    
    --secondary-shades: #45260a;
    
    --white-color: #fff;
    --first-text-color: #333;
    --second-text-color: #555;

    --header-height: 9.6rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

*:focus{
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}
  
.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.margin-bottom-lg {
    margin-bottom: 6.4rem !important;
}

.margin-top-bottom{
    margin: 1.3rem 0 1.3rem;
}

.center-text {
    text-align: center;
}

.over--hidden{
    overflow: hidden;
}

.btn{
    min-width: 14.2rem;
    min-height: 4.2rem;
    border-radius: 9px;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1.6rem 3.2rem;

    border: none;
    cursor: pointer;
    font-family: inherit;
    outline: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #333;
    background-color: #fff;
    transition: all 0.3s;
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--primary:hover{
    background-color: var(--primary-shades);
}

.btn.btn--outline{
    background-color: var(--white-color);
    color: var(--second-text-color);
}

.btn.btn--outline:hover{
    background-color: var(--primary-tint-color);
    box-shadow: inset 0 0 0 3px #fff;
}

.btn.btn--form{
    background-color: #45260a;
    color: var(--primary-tint-color);
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    align-self: end;
}

.btn--form:hover {
    background-color: var(--white-color);
    color: var(--second-text-color);
  }

.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--first-text-color);
    font-weight: 600;
}

.tag.tag--vegetarian{
    background-color: #51cf66;
}

.tag.tag--vegan{
    background-color: #94d82d;
}

.tag.tag--paleo{
    background-color: #ffd43b;
}